<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658659643720-jo12orsif7059r8okhagf7bn4rc656je.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658659643720-jo12orsif7059r8okhagf7bn4rc656je</string>
	<key>API_KEY</key>
	<string>AIzaSyBuMOGTImeZk5A5PgwobzBO0MS_AOqX8Aw</string>
	<key>GCM_SENDER_ID</key>
	<string>658659643720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.yagom.ProjectManager</string>
	<key>PROJECT_ID</key>
	<string>projectmanager-e18d8</string>
	<key>STORAGE_BUCKET</key>
	<string>projectmanager-e18d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658659643720:ios:8e739a7ea6c84127fca37d</string>
</dict>
</plist>